<?xml version="1.0" encoding="utf-8"?>
<manifest 	package="com.cipherlab.cipherconnectpro" 
    		xmlns:android="http://schemas.android.com/apk/res/android" 
    		android:versionCode="14" 
    		android:versionName="2.4.5">
    		
	<uses-sdk  android:minSdkVersion="11" android:targetSdkVersion="20"/>

	<uses-permission android:name="android.permission.VIBRATE" />
	<uses-permission android:name="android.permission.BLUETOOTH" />
	<uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />
	<uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
	<uses-permission android:name="android.permission.WAKE_LOCK" />
	<uses-permission android:name="com.cipherlab.cipherconnectpro.CipherConnectKeyboardService" />
	<uses-feature android:name="android.hardware.bluetooth_le" android:required="false"/>
	<application android:label="@string/ime_name" 
	             android:icon="@drawable/icon"
	             android:allowBackup = "true"
	             android:killAfterRestore="false" 
	             android:theme="@android:style/Theme.Holo.Light">
		<service 	android:name="com.cipherlab.cipherconnectpro.CipherConnectKeyboardService"
					android:label="@string/ime_name" 
					android:enabled="true"
					android:permission="android.permission.BIND_INPUT_METHOD">
			
			<intent-filter>
				<action android:name="android.view.InputMethod" />
			</intent-filter>
			<meta-data android:name="android.view.im" android:resource="@xml/method" />
		</service>
		
		<service android:name="com.cipherlab.cipherconnectpro.CipherConnectManagerService" android:enabled="true" />
		
		<activity android:name="com.cipherlab.cipherconnectpro.CipherConnectSettingActivity"
		          android:screenOrientation="portrait">
			<intent-filter>
				<action android:name="android.intent.action.MAIN" />
				<category android:name="android.intent.category.LAUNCHER" />
			</intent-filter>
		</activity>
		<activity android:name=".SalveModeActivity"
		     	  android:parentActivityName="com.cipherlab.cipherconnectpro.CipherConnectSettingActivity"/>
		<activity android:name=".LEDeviceScanActivity"
		     	  android:parentActivityName="com.cipherlab.cipherconnectpro.CipherConnectSettingActivity"/>
		<activity android:name=".ClassicBTDeviceScanActivity"
		     	  android:parentActivityName="com.cipherlab.cipherconnectpro.CipherConnectSettingActivity"/>
		<activity android:name=".CipherConnectAboutActivity" android:label="@string/setting_about" 
		          android:parentActivityName="com.cipherlab.cipherconnectpro.CipherConnectSettingActivity"/>
	</application>

</manifest> 